{% extends 'base.html' %}
{% block content%}
	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 blog-posts">
					<div class="blog-post featured-post">
					{% for post in posts.items %}
						<img src="{{url_for('static',filename='img/blog/' + post.image)}}" alt="">
						<div class="post-date">{{post.date_posted.strftime('%Y-%m-%d')}}</div>
						<h3>{{post.title}}</h3>
						<div class="post-metas">
							<div class="post-meta">{{post.author}}</div>
						<p>{{post.content [:400]}} ...</p>
						<a href="{{url_for('post_detail',post_id=post.id)}}" class="col-lg-8">Read More</a>
							</div>
							{% endfor %}

							<nav class="blog-pagination justify-content-center d-flex">
								<ul class="pagination">
									{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1,right_current=2)%}
										{% if page_num %}
										{% if page_num == posts.page %}
										<li class="page-item active">
										<a href="{{url_for('index', page=page_num)}}" class="page-link ">{{page_num}}</a>
										</li>
										{% else %}
										<li class="page-item">
											<a href="{{url_for('index', page=page_num)}}" class="page-link">{{page_num}}</a>
										</li>
										{% endif %}
										{% else %}
										...
										{% endif %}
									{% endfor %}
								</ul>
							</nav>
						</div>
						</div>

					</div>
				</div>
			</section>
	<!-- Blog  section end -->
{% endblock %}