{% extends 'base.html' %}
{% block content %}

<!-- Page top section -->
<section class="page-top-section set-bg" data-setbg="img/header-bg/1.jpg">
	<div class="container">
		<h2>Tips & Tricks</h2>
	</div>
</section>
<!-- Page top section end -->


<!-- Blog section -->
<section class="blog-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="blog-post single-post">
					<img src="{{url_for('static',filename='img/blog/'+post.image)}}" alt="">
					<div class="post-date">{{post.date_posted.strftime('%Y-%m-%d')}}</div>
					<h3>{{post.title}}
					</h3>
					<div class="post-metas">
						<div class="post-meta">{{post.author}}</div>
						<div class="post-meta">in <a href="#">Games</a></div>
					</div>
					<p>{{post.content}}</p>
					<div class="comments">
					
					     
					

					</form>	
					{% if current_user.is_authenticated %}
						{% for comment in comments%}
						
						<ul class="comments-list">
							<li>
								<form action="", method="POST">
								<div class="comment-text">
									<h6>{{comment.name}}<a href="#" class="reply">Reply</a></h6>
									<div class="comment-date">{{comment.date_posted}}</div>
								    <p>{{comment.message}}</p>
								</div>
							</li>
							{% endfor %}
							<div class="comment-form">
								<form action="" method="POST">
									<div class="form-group form-inline">
										<div class="form-group col-lg-6 col-md-6 name">
											<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name"
												onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
										</div>
										<div class="form-group col-lg-6 col-md-6 email">
											<input type="email" class="form-control" name="email" id="email"
												placeholder="Enter email address" onfocus="this.placeholder = ''"
												onblur="this.placeholder = 'Enter email address'">
										</div>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"
											onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
									</div>
									<div class="form-group">
										<textarea class="form-control mb-10" rows="5" name="message" name="message" placeholder="Messege"
											onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
											required=""></textarea>
									</div>
									<button class="btn btn-info">Post Comment</button>
									{% if current_user.is_authenticated== post.author %}
									<a href="/blog/{{post.id}}/del" class="btn btn-danger">Удалить пост</a>
									<a href="/blog/{{post.id}}/update" class="btn btn-primary">Редактировать</a>
									{% endif %} 
									{% endif %} 
	</section>

	<!-- Blog section end -->

	{%endblock%}